/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body {
  background: #FFFFFF;
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 2rem 0 1.5rem 0;
  background-color: #F0E6DC;
}

.footer h2 {
  display: none;
}

.footer__section {
  width: 33.33333%;
}

@media (max-width: 720px) {
  .footer__section {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}

.footer__section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__section__content__logo {
  width: 10rem;
  height: auto;
  margin: 0 auto;
}

.footer__section__content__link {
  border: 0.1rem solid #000000;
  border-radius: 5rem;
  text-decoration: none;
  color: #000000;
  font-size: 0.7rem;
  font-weight: 200;
  padding: 0.6rem;
  max-width: 25%;
  margin: 0 auto;
  min-width: 70.7px;
}

.footer__section__list {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
}

.footer__section__listinfo {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 0.1rem solid #000000;
  border-right: 0.1rem solid #000000;
}

@media (max-width: 720px) {
  .footer__section__listinfo {
    border-top: 0.1rem solid #000000;
    border-bottom: 0.1rem solid #000000;
    border-left: none;
    border-right: none;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
  }
}

.footer__section__listinfo__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
}

.footer__section__listinfo__element__info {
  width: 8rem;
  padding-left: 1.5rem;
}

.footer__attributions {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.footer__attributions a {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

.top-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  padding: 15rem 0;
}

.top-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-banner__heading {
  font-family: "Bentham", serif;
  letter-spacing: .3rem;
  font-size: 5rem;
  position: relative;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.top-banner__link {
  background-color: #B09277;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: .7rem 1.4rem;
  border-radius: 10px;
  position: relative;
  margin: 3.5rem auto 0 auto;
}

.slogan-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 10rem 0;
}

.slogan-section__slogan {
  margin: 0 auto;
  position: relative;
  font-family: "Bentham", serif;
  font-size: 4rem;
  text-align: center;
  padding: 0 1rem;
}

@media (max-width: 450px) {
  .slogan-section__slogan {
    font-size: 2.8rem;
  }
}

.slogan-section__slogan::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -30px;
  left: 37.5%;
  width: 25%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

.ways-to-support {
  padding: 1rem 0 2rem 0;
  max-width: 75%;
  margin: 0 auto;
}

.ways-to-support__way-to {
  position: relative;
}

.ways-to-support__way-to__title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 450px) {
  .ways-to-support__way-to__title {
    font-size: 1.5rem;
  }
}

.ways-to-support__way-to__title::after {
  content: "";
  position: relative;
  display: block;
  top: 1.5rem;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

.ways-to-support__way-to__paragraph {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 2rem 0 4rem 0;
}

@media (max-width: 450px) {
  .ways-to-support__way-to__paragraph {
    font-size: 0.8rem;
  }
}

.info-blocks {
  padding: 1rem 0 2rem 0;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.info-blocks .show {
  display: block;
}

.info-blocks__info-block {
  overflow: hidden;
}

.info-blocks__info-block__title {
  position: relative;
  font-size: 2rem;
  padding: 2rem 0 2rem 0;
}

.info-blocks__info-block__title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
  -webkit-transition: width 0.8s ease-out, height 0.8s ease-in-out;
  transition: width 0.8s ease-out, height 0.8s ease-in-out;
}

.info-blocks__info-block__title:hover::after {
  width: 75%;
}

.info-blocks__info-block__plus {
  position: absolute;
  right: 50px;
}

.info-blocks__info-block__plus__cross {
  position: relative;
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info-blocks__info-block__plus__cross__hor {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #000000;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.info-blocks__info-block__plus__cross__ver {
  width: 25px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: calc(0px / 2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

.info-blocks__info-block__paragraph {
  display: none;
  font-size: 1rem;
  padding: 2rem 0 1rem 0;
  color: black;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.cliente-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cliente-blocks__clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cliente-blocks__clients-block__text {
  width: 50%;
  height: 30rem;
  min-width: 300px;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text {
    height: auto;
    padding-bottom: 2rem;
  }
}

.cliente-blocks__clients-block__text__title {
  font-size: 2.5rem;
  padding: 7rem 3.5rem 0 3.5rem;
  position: relative;
  text-align: left;
}

.cliente-blocks__clients-block__text__title::after {
  content: "";
  position: relative;
  display: block;
  top: 1rem;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text__title {
    font-size: 1.8rem;
    padding-top: 4rem;
  }
}

@media (max-width: 400px) {
  .cliente-blocks__clients-block__text__title {
    padding: 1.5rem;
    font-size: 1.2rem;
  }
}

.cliente-blocks__clients-block__text__paragraph {
  padding: 4rem 5rem 1rem 3.5rem;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  text-align: left;
}

@media (max-width: 400px) {
  .cliente-blocks__clients-block__text__paragraph {
    padding: 1.5rem;
    font-size: 0.8rem;
  }
}

.cliente-blocks__clients-block__figure {
  width: 50%;
  height: 30rem;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__figure {
    width: 100%;
    height: 25rem;
  }
}

.cliente-blocks__clients-block__figure__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

@media (max-width: 700px) {
  .contact__info {
    padding: 3rem 0 5rem 0;
  }
}

.contact__info h2 {
  display: none;
}

.contact__info__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  margin: 0 3rem;
}

@media (max-width: 700px) {
  .contact__info__liste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.3rem;
    margin: 0;
  }
}

.contact__info__liste__adresse__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  line-height: 1.5rem;
}

.contact__info__liste li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 3rem 0;
  width: 33.33333%;
}

@media (max-width: 700px) {
  .contact__info__liste li {
    padding: 2.5rem 0;
    width: 50%;
  }
}

.contact__info__liste li i {
  padding-bottom: 5rem;
  font-size: 2rem;
}

@media (max-width: 700px) {
  .contact__info__liste li i {
    padding-bottom: 2rem;
  }
}

.contact__info__liste__telephone {
  border-left: 0.15rem solid #F0E6DC;
  border-right: 0.15rem solid #F0E6DC;
  width: 33.33333%;
}

@media (max-width: 700px) {
  .contact__info__liste__telephone {
    border-top: 0.15rem solid #F0E6DC;
    border-bottom: 0.15rem solid #F0E6DC;
    border-left: none;
    border-right: none;
    width: 50%;
  }
}

.contact__info__rs {
  border: 0.1rem solid #000000;
  border-radius: 5rem;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.6rem;
  max-width: 20%;
  margin: 0 auto;
}

@media (max-width: 516px) {
  .contact__info__rs {
    max-width: 40%;
  }
}

@media (max-width: 400px) {
  .contact__info__rs {
    font-size: 0.8rem;
    max-width: 40%;
  }
}

.contact__horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
  background-color: #F0E6DC;
  position: relative;
}

.contact__horaire__horloge {
  position: absolute;
  width: 100%;
  top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__horaire__horloge__icone {
  background-color: #F0E6DC;
  font-size: 4rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .contact__horaire__horloge__icone {
    font-size: 3rem;
  }
}

.contact__horaire h2 {
  display: none;
}

.contact__horaire__liste {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 400px) {
  .contact__horaire__liste {
    font-size: 0.8rem;
  }
}

.contact__horaire__liste__element {
  padding-bottom: 1.2rem;
}

.contact__maps {
  overflow: hidden;
  padding-bottom: 38rem;
  position: relative;
  height: 0;
}

.contact__maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */