/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body {
  background: #FFFFFF;
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
}

html .hidden {
  display: none;
}

.navbar {
  width: 90%;
  max-width: 1728px;
  margin: 0 auto;
  padding: 1rem 0;
}

.navbar__list {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__list__element:nth-child(6) {
  display: none;
}

.navbar__list__element__link {
  color: #000000;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 0;
  padding: 1rem 0;
  width: 210.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__list__element__link__text {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.navbar__list__element__link__text::after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #B09277;
  border-radius: 5px;
  -webkit-transition: left .2s, width .2s;
  transition: left .2s, width .2s;
}

.navbar__list__element__link:hover {
  color: #000000;
}

.navbar__list__element__link:hover p::after {
  left: 20%;
  width: 60%;
}

.navbar__list__element__link:active {
  color: #000000;
}

.navbar__list__element__link:visited {
  color: #000000;
}

.navbar__list__element__link--center {
  width: 210.25px;
  text-align: center;
}

.navbar__list__element__link--center__logo {
  width: 7.5rem;
}

.responsive-menu {
  display: none;
}

@media all and (max-width: 1300px) {
  .navbar__list__element__link {
    width: 150px;
    font-size: .8rem;
  }
  .navbar__list__element__link--center {
    width: 150px;
  }
}

@media all and (max-width: 1024px) {
  .navbar__list__element {
    display: none;
    margin: auto 0;
  }
  .navbar__list__element:nth-child(3), .navbar__list__element:nth-child(6) {
    display: block;
  }
  .navbar__list__element__button {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    font-size: 2rem;
    color: #B09277;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .responsive-menu {
    display: block;
    background-color: #F0E6DC;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
  }
  .responsive-menu__list {
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
  }
  .responsive-menu__list__element__link {
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: .2rem;
  }
  .responsive-menu__list__element__up-button {
    background-color: #F0E6DC;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 2rem 0 1.5rem 0;
  background-color: #F0E6DC;
}

.footer h2 {
  display: none;
}

.footer__section {
  width: 33.33333%;
}

@media (max-width: 720px) {
  .footer__section {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}

.footer__section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__section__content__logo {
  width: 8rem;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (max-width: 720px) {
  .footer__section__content__logo {
    width: 6rem;
  }
}

.footer__section__content__link {
  border: 0.1rem solid #000000;
  border-radius: 5rem;
  text-decoration: none;
  color: #000000;
  font-size: 0.6rem;
  font-weight: 200;
  padding: 0.4rem;
  max-width: 25%;
  margin: 0 auto;
  min-width: 70.7px;
}

@media (max-width: 720px) {
  .footer__section__content__link {
    font-size: 0.5rem;
    padding: 0.4rem;
  }
}

.footer__section__content__link:hover {
  background-color: transparent;
  color: #F0E6DC;
  border-radius: 5rem;
  border: 1px solid #000000;
  background-color: #000000;
  -webkit-box-shadow: 7px 7px 6px darken #000000, 82%;
          box-shadow: 7px 7px 6px darken #000000, 82%;
}

.footer__section__list {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
}

@media (max-width: 720px) {
  .footer__section__list {
    font-size: 0.6rem;
    line-height: 1.3rem;
  }
}

.footer__section__listinfo {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 0.1rem solid #000000;
  border-right: 0.1rem solid #000000;
}

@media (max-width: 720px) {
  .footer__section__listinfo {
    border-top: 0.1rem solid #000000;
    border-bottom: 0.1rem solid #000000;
    border-left: none;
    border-right: none;
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 0.6rem;
  }
}

.footer__section__listinfo__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
}

@media (max-width: 720px) {
  .footer__section__listinfo__element {
    padding: 0.5rem 0;
    text-align: left;
    width: 8rem;
  }
}

.footer__section__listinfo__element__info {
  width: 8rem;
  padding-left: 1.5rem;
}

.footer__attributions {
  font-size: 0.6rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.5rem;
}

@media (max-width: 720px) {
  .footer__attributions {
    font-size: 0.5rem;
  }
}

.footer__attributions a {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

.top-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  padding: 15rem 0;
  height: 35vh;
}

@media (max-width: 640px) {
  .top-banner {
    height: 25vh;
  }
}

.top-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
}

.top-banner__heading {
  font-family: "Bentham", serif;
  letter-spacing: 0.3rem;
  font-size: 5rem;
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
}

@media (max-width: 943px) {
  .top-banner__heading {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  .top-banner__heading {
    font-size: 3rem;
    max-width: 80%;
  }
}

@media (max-width: 445px) {
  .top-banner__heading {
    font-size: 2.5rem;
    max-width: 80%;
  }
}

.top-banner__link {
  background-color: #B09277;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.7rem 1.4rem;
  border-radius: 10px;
  position: relative;
  margin: 3.5rem auto 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 200;
}

.top-banner__link:hover {
  background-color: transparent;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #F0E6DC;
  background-color: #F0E6DC;
  -webkit-box-shadow: 7px 7px 6px darken #000000, 82%;
          box-shadow: 7px 7px 6px darken #000000, 82%;
}

@media (max-width: 640px) {
  .top-banner__link {
    padding: 0.5rem 1.3rem;
    font-size: 0.8rem;
  }
}

.slogan-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 10rem 0;
}

.slogan-section__slogan {
  margin: 0 auto;
  position: relative;
  font-family: "Bentham", serif;
  font-size: 4rem;
  text-align: center;
  padding: 0 1rem;
}

@media (max-width: 450px) {
  .slogan-section__slogan {
    font-size: 2.8rem;
  }
}

.slogan-section__slogan::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -30px;
  left: 37.5%;
  width: 25%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

.presentation {
  background-color: #F0E6DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25rem;
}

@media (max-width: 850px) {
  .presentation {
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .presentation {
    height: auto;
  }
}

.presentation__image {
  height: 100%;
  width: 100%;
  padding: 0 3rem;
}

@media (max-width: 850px) {
  .presentation__image {
    padding: 0;
  }
}

@media (max-width: 658px) {
  .presentation__image {
    display: none;
  }
}

.presentation__image__src {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation__text-content {
  padding: 3rem 4rem 2rem 0;
}

@media (max-width: 850px) {
  .presentation__text-content {
    padding: 2rem 4rem 2rem 2rem;
  }
}

@media (max-width: 658px) {
  .presentation__text-content {
    padding: 2rem;
  }
}

.presentation__text-content__heading {
  font-size: 1.6rem;
  font-weight: 200;
  max-width: 60%;
  letter-spacing: 0.1rem;
  line-height: 2.6rem;
  padding: 2rem 2rem 1rem 0;
}

@media (max-width: 1062px) {
  .presentation__text-content__heading {
    font-size: 1.4rem;
    padding: 1rem 0 0 0;
    max-width: 70%;
  }
}

@media (max-width: 850px) {
  .presentation__text-content__heading {
    font-size: 1.2rem;
    max-width: 90%;
  }
}

@media (max-width: 658px) {
  .presentation__text-content__heading {
    letter-spacing: 0.05rem;
    line-height: 2.3rem;
  }
}

.presentation__text-content__paragraph {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 2rem 0 4rem 0;
}

@media (max-width: 850px) {
  .presentation__text-content__paragraph {
    font-size: 0.8rem;
    padding: 1rem 0;
  }
}

.presentation__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10rem;
}

.presentation__gallery__element {
  width: 33.3333%;
  height: 30vw;
}

@media (max-width: 850px) {
  .presentation__gallery__element {
    width: 100%;
    height: 50vw;
  }
  .presentation__gallery__element:first-child {
    display: none;
  }
  .presentation__gallery__element:last-child {
    display: none;
  }
}

.presentation__gallery__element__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ways-to-support {
  padding: 1rem 0 2rem 0;
  max-width: 75%;
  margin: 0 auto;
}

.ways-to-support__way-to {
  position: relative;
}

.ways-to-support__way-to__title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 450px) {
  .ways-to-support__way-to__title {
    font-size: 1.5rem;
  }
}

.ways-to-support__way-to__title::after {
  content: "";
  position: relative;
  display: block;
  top: 1.5rem;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

.ways-to-support__way-to__paragraph {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 2rem 0 4rem 0;
}

@media (max-width: 450px) {
  .ways-to-support__way-to__paragraph {
    font-size: 0.8rem;
  }
}

.info-blocks {
  padding: 1rem 0 2rem 0;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.info-blocks .show {
  display: block;
}

.info-blocks__info-block {
  overflow: hidden;
}

.info-blocks__info-block__title {
  z-index: +1;
  position: relative;
  font-size: 2rem;
  padding: 2rem 0 2rem 0;
}

.info-blocks__info-block__title__underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 3px;
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
}

.info-blocks__info-block .rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info-blocks__info-block__plus {
  position: absolute;
  right: 25px;
  top: 48px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

.info-blocks__info-block__plus__cross {
  width: 15px;
}

.info-blocks__info-block__plus__cross__hor {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.info-blocks__info-block__plus__cross__ver {
  width: 15px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: calc(0px / 2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info-blocks__info-block__paragraph {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  display: block;
  height: 0;
  line-height: 1.5rem;
  font-weight: 300;
  line-break: strict;
  font-size: 1rem;
  padding: 2rem 0 1rem 0;
  color: black;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.info-blocks__info-block__paragraph span {
  font-weight: bold;
}

.cliente-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cliente-blocks__clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cliente-blocks__clients-block__text {
  width: 50%;
  height: 30rem;
  min-width: 300px;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text {
    height: auto;
    padding-bottom: 2rem;
  }
}

.cliente-blocks__clients-block__text__title {
  font-size: 2.5rem;
  padding: 7rem 3.5rem 0 3.5rem;
  position: relative;
  text-align: left;
}

.cliente-blocks__clients-block__text__title::after {
  content: "";
  position: relative;
  display: block;
  top: 1rem;
  left: 0;
  width: 75%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__text__title {
    font-size: 1.8rem;
    padding-top: 4rem;
  }
}

@media (max-width: 400px) {
  .cliente-blocks__clients-block__text__title {
    padding: 1.5rem;
    font-size: 1.2rem;
  }
}

.cliente-blocks__clients-block__text__paragraph {
  padding: 4rem 5rem 1rem 3.5rem;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  text-align: left;
}

@media (max-width: 400px) {
  .cliente-blocks__clients-block__text__paragraph {
    padding: 1.5rem;
    font-size: 0.8rem;
  }
}

.cliente-blocks__clients-block__figure {
  width: 50%;
  height: 30rem;
}

@media (max-width: 860px) {
  .cliente-blocks__clients-block__figure {
    width: 100%;
    height: 25rem;
  }
}

.cliente-blocks__clients-block__figure__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

@media (max-width: 700px) {
  .contact__info {
    padding: 3rem 0 5rem 0;
  }
}

.contact__info h2 {
  display: none;
}

.contact__info__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  margin: 0 3rem;
}

@media (max-width: 700px) {
  .contact__info__liste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.3rem;
    margin: 0;
  }
}

.contact__info__liste__adresse__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  line-height: 1.5rem;
}

.contact__info__liste li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 3rem 0;
  width: 33.33333%;
}

@media (max-width: 700px) {
  .contact__info__liste li {
    padding: 2.5rem 0;
    width: 50%;
  }
}

.contact__info__liste li i {
  padding-bottom: 5rem;
  font-size: 2rem;
}

@media (max-width: 700px) {
  .contact__info__liste li i {
    padding-bottom: 2rem;
  }
}

.contact__info__liste__telephone {
  border-left: 0.15rem solid #F0E6DC;
  border-right: 0.15rem solid #F0E6DC;
  width: 33.33333%;
}

@media (max-width: 700px) {
  .contact__info__liste__telephone {
    border-top: 0.15rem solid #F0E6DC;
    border-bottom: 0.15rem solid #F0E6DC;
    border-left: none;
    border-right: none;
    width: 50%;
  }
}

.contact__info__rs {
  border: 0.1rem solid #000000;
  border-radius: 5rem;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.6rem;
  max-width: 20%;
  margin: 0 auto;
}

.contact__info__rs:hover {
  background-color: transparent;
  color: #000000;
  border-radius: 5rem;
  border: 1px solid #F0E6DC;
  background-color: #F0E6DC;
  -webkit-box-shadow: 7px 7px 6px darken #000000, 82%;
          box-shadow: 7px 7px 6px darken #000000, 82%;
}

@media (max-width: 516px) {
  .contact__info__rs {
    max-width: 40%;
  }
}

@media (max-width: 400px) {
  .contact__info__rs {
    font-size: 0.8rem;
    max-width: 40%;
  }
}

.contact__horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
  background-color: #F0E6DC;
  position: relative;
}

.contact__horaire__horloge {
  position: absolute;
  width: 100%;
  top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__horaire__horloge__icone {
  background-color: #F0E6DC;
  font-size: 4rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .contact__horaire__horloge__icone {
    font-size: 3rem;
  }
}

.contact__horaire h2 {
  display: none;
}

.contact__horaire__liste {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 400px) {
  .contact__horaire__liste {
    font-size: 0.8rem;
  }
}

.contact__horaire__liste__element {
  padding-bottom: 1.2rem;
}

.contact__maps {
  overflow: hidden;
  padding-bottom: 38rem;
  position: relative;
  height: 0;
}

.contact__maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */