/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body {
  background: #FFFFFF;
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
}

.top-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  padding: 15rem 0;
}

.top-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-banner__heading {
  font-family: "Bentham", serif;
  letter-spacing: .3rem;
  font-size: 5rem;
  position: relative;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.top-banner__link {
  background-color: #B09277;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: .7rem 1.4rem;
  border-radius: 10px;
  position: relative;
  margin: 3.5rem auto 0 auto;
}

.slogan-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 10rem 0;
}

.slogan-section__slogan {
  margin: 0 auto;
  position: relative;
  font-family: "Bentham", serif;
  font-size: 4rem;
  text-align: center;
}

.slogan-section__slogan::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -30px;
  left: 37.5%;
  width: 25%;
  height: 3px;
  background-color: #F0E6DC;
  border-radius: 5px;
}

.ways-to-support {
  padding: 1rem 0 2rem 0;
  max-width: 75%;
  margin: 0 auto;
}

.ways-to-support__way-to__title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.ways-to-support__way-to__paragraph {
  font-size: 1rem;
  padding-bottom: 4rem;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.contact__info h2 {
  display: none;
}

.contact__info__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
  position: relative;
  padding-bottom: 3rem;
}

@media (max-width: 790px) {
  .contact__info__liste {
    width: 80%;
  }
}

@media (max-width: ) {
  .contact__info__liste {
    font-size: 11.5px;
  }
}

.contact__info__liste__adresse__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  line-height: 1.5rem;
}

.contact__info__liste li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 3rem 0;
}

.contact__info__liste li i {
  padding-bottom: 5rem;
  font-size: 2rem;
}

.contact__info__liste__telephone {
  border-left: 0.1rem solid #000000;
  border-right: 0.1rem solid #000000;
}

.contact__info__rs {
  border: 0.1rem solid #000000;
  border-radius: 5rem;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.6rem;
  max-width: 20%;
  margin: 0 auto;
}

.contact__horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5rem 0 5rem 0;
  background-color: #F0E6DC;
  position: relative;
}

.contact__horaire__horloge {
  background-color: #F0E6DC;
  position: absolute;
  top: -3rem;
  font-size: 4rem;
  border-radius: 50%;
  padding: 1rem;
  left: 47%;
}

.contact__horaire h2 {
  display: none;
}

.contact__horaire__liste {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.contact__horaire__liste__element {
  padding-bottom: 1.2rem;
}

.contact__maps {
  overflow: hidden;
  padding-bottom: 38rem;
  position: relative;
  height: 0;
}

.contact__maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */