footer{

    width:100%;
    border: 10px solid red;
   
    .content{
        padding:3rem 0;
        display: flex;
        
    }
    .footer-card{
        font-family: $font1;
        display:flex;
        justify-content: flex-start;
        align-content: space-between;
        width:50%;
        height: auto;
        color: $white;
        &-left{
            position: relative;
            height:100%;
            width:50%;
            float:left;
            h3{
                position:relative;
                top:-1rem;
                font-size:1,25rem;
            }
            a{
                position: absolute;
                bottom: 0;
                color:$white;
            }
            p{  
                position: absolute;
                bottom: -3;
                font-size: .95rem;
            }
        
              }
        }
        &-right{
            width:50%;
            height: 100%;
            float:right;
            .circle{
                margin-left:2rem;
                width:223px;
                height:223px;
                border-radius:50%;
                border:2px solid $lightgrey;
                text-align:center;
                text-justify: center;

                  p{
                    position:relative;
                    top:45%;
                }
                
            }
        }
    }
    .footer-link{
        padding-left: 5rem;
        line-height:30px;
        border-left: 2px solid $lightgrey;
        width:50%;
        color:$white;
        a {
            font-family: $font1;
            text-decoration: none;
            color: $white;
          }
         
    }
