// header {
//   position: fixed;
//   border: 2px solid #4b4b4b;
//   color: #ffffff;
//   font-family: "II Vorkurs", sans-serif;
//   font-size: 15px;
//   width: 100%;
//   height: 77px;
//   .topNav{
//     .hamburger {
//       display: none;
//   }

//   .bar {
//       display: block;
//       width: 25px;
//       height: 3px;
//       margin: 5px auto;
//       -webkit-transition: all 0.3s ease-in-out;
//       transition: all 0.3s ease-in-out;
//       background-color: #101010;
//   }

//   }
//   .menu-navbar-container {
//     width: calc(100% - 200px);
//     float: right;
//     ul {
//       display: flex;
//       flex-direction: row;
//       justify-content: flex-start;
//       list-style: none;
//       margin: 1.8rem 0 0 0.2rem;
//       li {
//         margin-left: 40px;
//       }
//       a {
//         text-decoration: none;
//         color: #ffffff;
//       }
//     }
//   }

//   #menu-item-19 {
//     display: none;
//   }
//   #menu-item-46 {
//     position: fixed;
//     right: 0;
//     margin-right: 60px;
//   }
//   .logo_header {
//     background-color: white;
//     width: 76px;
//     height: 75px;
//   }
//   img {
//     position: absolute;
//     right: 0;
//     top: 19px;
//     border-radius: 90%;
//     margin: 0.3rem 0.8rem 0 0.2rem;
//     border: 1px solid #ffffff;
//     padding: 0.6rem;
//     width: 1.7rem;
//   }

//     @media only screen and (max-width: 768px) {
//       .topNav {
//           position: fixed;
//           left: -100%;
//           top: 5rem;
//           flex-direction: column;
//           background-color: #fff;
//           width: 100%;
//           border-radius: 10px;
//           text-align: center;
//           transition: 0.3s;
//           box-shadow:
//               0 10px 27px rgba(0, 0, 0, 0.05);
//       }

//       .menu {
//           left: 0;
//       }

//       li {
//           margin: 2.5rem 0;
//       }

//       .hamburger {
//           display: block;
//           cursor: pointer;
//       }

//   }

//   }

// Second attempt

  header {
    position: fixed;
  border-bottom: 2px solid #4b4b4b;
  .menu-navbar-container {
    width: calc(100% - 200px);
    float: right;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 15px;
      list-style: none;
      position: fixed;
      li {
        margin: 35px 25px 35px 25px;
        a {
          text-decoration: none;
          color: #ffffff;
          font-family: "II Vorkurs", sans-serif;
        }
      }
      #menu-item-19 {
        display: none;
      }
      #menu-item-46 {
        margin-left: 190px;
      }
      #menu-item-302 {
        display: none;
      }
      #menu-item-303 {
        display: none;
      }
    }
  }
  .logo_header {
    border-left: 2px solid #4b4b4b;
    background-color: white;
    width: 95px;
    height: 95px;
    padding: 10px;
  }
  img {
    position: absolute;
    right: 0;
    top: 19px;
    border-radius: 90%;
    margin: 1rem 0.8rem 0 0.2rem;
    border: 1px solid #ffffff;
    padding: 0.6rem;
    width: 1.7rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
