#slider_home{
    color: #FFFFFF;
    height: 152px;
    width: 2161px;
    font-size: 135px;
    animation: slide 20s linear infinite;
    transform: translate3d(0, 0, 0);

    span{
      color:$yellow;
    }
}

.slider p{
          
  color:$black17;
  font-family: "II Vorkurs", sans-serif;
  height: 152px;
  width: 2161px;
  font-size: 135px;
  font-weight:300;
  animation: slide 30s linear infinite;
}
.slider span{
  
      color:$yellow;
 
}


@keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
