.ways-to-support{
    padding: 1rem 0 2rem 0;
    max-width:75%;
    margin: 0 auto;
    &__way-to{
        position: relative;
        &__title{
            font-size: 2rem;
            padding-bottom: 2rem;
            &::after {
                content: "";
                position: relative;
                display: block;
                top: 1rem;
                left: 0;
                width: 75%;
                height: 3px;
                background-color: $banner-clr;
                border-radius: 5px;
                
                
            }
        }
        &__paragraph{
            font-size: 1rem;
            padding-bottom: 4rem;
        }
    }
}
