$font1 : 'II Vorkurs', sans-serif;

$yellow: #FFC33B;
$white: #ffffff;
$lightgrey: #777777;
$darkgrey: #4b4b4b;
$black21:#212121;
$black17: #171717;

$touche1: #b369b5;
$touche2: #3E243E;
$touche3 : #D989DB;
$touche4: #bf48ca;

$bannerContent-maxWidth-desktop: 1360px;
$padding-desktop: 70px;
$padding-tp: 50px;


$width-left: 50%;
$width-right:50%;
